[submodule "components/YOBA"]
	path = components/YOBA
	url = https://github.com/IgorTimofeev/YOBA.git
[submodule "components/ESP-IDF-NVSExtensions"]
	path = components/ESP-IDF-NVSExtensions
	url = https://github.com/IgorTimofeev/ESP-IDF-NVSExtensions.git
[submodule "components/ESP-IDF-BuzzerAudio"]
	path = components/ESP-IDF-BuzzerAudio
	url = https://github.com/IgorTimofeev/ESP-IDF-BuzzerAudio.git
[submodule "components/ESP-IDF-LowPassFilter"]
	path = components/ESP-IDF-LowPassFilter
	url = https://github.com/IgorTimofeev/ESP-IDF-LowPassFilter.git
[submodule "components/ESP-IDF-ADCVoltmeter"]
	path = components/ESP-IDF-ADCVoltmeter
	url = https://github.com/IgorTimofeev/ESP-IDF-ADCVoltmeter.git
