[submodule "components/YOBA"]
	path = components/YOBA
	url = https://github.com/IgorTimofeev/YOBA.git
[submodule "components/ESP-IDF-NVSExtensions"]
	path = components/ESP-IDF-NVSExtensions
	url = https://github.com/IgorTimofeev/ESP-IDF-NVSExtensions.git
[submodule "components/ESP-IDF-BuzzerAudio"]
	path = components/ESP-IDF-BuzzerAudio
	url = https://github.com/IgorTimofeev/ESP-IDF-BuzzerAudio.git
[submodule "components/ESP-IDF-ADCVoltmeter"]
	path = components/ESP-IDF-ADCVoltmeter
	url = https://github.com/IgorTimofeev/ESP-IDF-ADCVoltmeter.git
[submodule "components/ESP-IDF-EMAFilter"]
	path = components/ESP-IDF-EMAFilter
	url = https://github.com/IgorTimofeev/ESP-IDF-EMAFilter.git
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/IgorTimofeev/CharlotteThermallerFirmware.git
[submodule "CAD"]
	path = CAD
	url = https://github.com/IgorTimofeev/CharlotteThermallerCAD.git
